[mysqld]
server-id=4
log_bin=mysqld-bin
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

# Disable SSL
ssl=0
skip-ssl

# Galera settings
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="galera_cluster"
wsrep_cluster_address="gcomm://galera-node1,galera-node2,galera-node3,galera-node4"
wsrep_node_name=node4
wsrep_node_address=galera-node4

# Better SST method
wsrep_sst_method=mariabackup
wsrep_sst_auth=sst_user:sst_password

# Galera synchronization settings
wsrep_slave_threads=4
wsrep_certify_nonPK=ON
wsrep_max_ws_rows=0
wsrep_max_ws_size=2147483647
wsrep_retry_autocommit=1
wsrep_sync_wait=1
