[mysqld]
server-id=1
log_bin=mysqld-bin
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

# Disable SSL
ssl=0
skip-ssl

# Single node MariaDB configuration - clustering disabled
# wsrep_on=OFF (default when not specified)
